<div class="container">
  <div class="row">

    <%= render 'userinfo', user: @user, newbook: @book %>

    <div class="col-1"></div>
    <div class="col-8">
      <h2>Book detail</h2>
        <table class="table">
        <tbody>
          <tr>
            <td><%= link_to user_path(@bookf.user.id) do %>
                 <%= image_tag @bookf.user.get_profile_image(100,100) %>
                 <br>
                 <%= @bookf.user.name %></td>
                <% end %>
            <td><%= link_to book_path(@bookf) do %>
                <%= @bookf.title %>
                <% end %></td>
            <td><%= @bookf.body %></td>
            <td><%= link_to edit_book_path(@bookf.id), class: "btn btn-success" do %>
                  Edit
                  <% end %></td>
            <td><%= link_to book_path(@bookf.id), class: "btn btn-danger", method: :delete, "data-confirm" => "本当に消しますか？" do %>
                  Destroy
                  <% end %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>