<div class="container">
  <div class="row">

    <%= render 'userinfo', user: @user %>

    <div class="col-1"></div>
    <div class="col-8">
      <h2>Book detail</h2>
        <table class="table">
        <tbody>
          <tr>
            <td><%= link_to user_path(@book.user.id) do %>
                 <%= image_tag @book.user.get_profile_image(100,100) %>
                 <br>
                 <%= @book.user.name %></td>
                <% end %>
            <td><%= link_to book_path(@book) do %>
                <%= @book.title %>
                <% end %></td>
            <td><%= @book.body %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>